*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    padding-left: 5rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* home page start */


/* header start */
.header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 117rem;
    height: 4rem;
    justify-content: space-between;
}
.header .logo img{
    width: 3.5rem;
    height: 4rem;
}
.header .logo .be{
    color:#F25822;
    
}
.header .logo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 3rem;
}
.navbar{
    width: 68.7rem;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
}
.navbar ul li{
    display: inline;
    font-size: 1.6rem;
}
.enter{
    width: 14rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #F25822;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
}
/* header end */

/* content start */
.boxh1{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin:3rem 0;
}
.boxh1 .boxh1left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 54.3rem;
    height: 37.4rem;
    font-size: 2rem;
}
.boxh1 img{
    width: 94.5rem;
    height: 57.7rem;
    margin-left: 5rem;
}
.boxh1 .boxh1left h1{
    font-size: 6rem;
}
.boxh1 .boxh1left h1 span{
    border: 0.2rem #F25822 solid;
    border-radius: 50%;
}
.boxh1left-bottom{
    width: 30.2rem;
    height: 5rem;
    align-items: center;
}
.boxh1left-bottom img{
    width: 3rem;
    height: 3rem;
}

.boxh2{
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 10rem 0;
}
.boxh2 img{
    width: 16rem;
    height: 5rem;
}
/* content end */

/* home page end */

/* page 2 start */
.pagetwotop{
    height: 54rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.pagetwoleft{
    width: 51.5rem;
    height: 28.9rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pagetwo .pagetwoleft h1{
font-size: 4.5rem;
}
.pagetwobottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 49.1rem;
}
.imgs{
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagetwobottom .card1{
    width: 33.1rem;
    height: 22.6rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;
    margin-right: 2rem;
}
.pagetwobottom .card1 h1{
    font-size: 2.4rem;
}

.pagetwobottom .card1 a{
font-size: 1.1rem;
}
.pagetwobottom .card1 .imgs{
    background: #F2582240;
}

.pagetwobottom .card2{
    width: 37rem;
    height: 29.1rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 2rem 2rem 10rem .1rem rgb(232, 226, 226);
    margin-right: 10rem;
}
.pagetwobottom .card2 h1{
    font-size: 2.4rem;
}

.pagetwobottom .card2 a{
font-size: 1.1rem;
}
.pagetwobottom .card2 .imgs{
    background: #14921147;
}

.pagetwobottom .card3{
    width: 33.1rem;
    height: 22.6rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;
}
.pagetwobottom .card3 h1{
    font-size: 2.4rem;
}

.pagetwobottom .card3 a{
font-size: 1.1rem;
}
.pagetwobottom .card3 .imgs{
    background: #FFC700;
}

/* page 2 end */


/* page three start */

.threetop{
    width: 68.2rem;
    height: 12.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    text-align: center;
    
}
.threetop h1{
    font-size: 4.5rem;
}

.threebottom{
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
}
.cardthree{
    width: 37rem;
    height: 54.9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 1rem 2rem 1rem;
}
.cardthree img
{
    width: 37rem;
    height: 27rem;
}
/* page three end */


/* page four start */
.pagefour{
    display: flex;
    flex-wrap: nowrap;
    margin:10rem 0;
}
.fourright{
    width: 57rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 1rem 2rem 1rem;
}
.pagefour img{
    width: 94.5rem;
    height: 80rem;
    /* border: .2rem solid red; */
}
.fourimg{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourimg img{
    width: 4rem;
    height: 4rem;
}
.box .fourimg{
    background: #FCD5C8;
}
.box{
    width: 49.1rem;
    height: 10rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.fcontent{
    box-sizing: border-box;
    width: 36.2rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box2 .fourimg{
    background: #BDE0BC;
}
.box2{
    width: 57rem;
    height: 13.4rem;
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 2rem;
    align-items: center;
    box-shadow: .5rem .5rem 1rem 1rem rgb(238, 235, 235);
}

.box3 .fourimg{
    background: #FFF3C9;
}
.box3{
    width: 49.1rem;
    height: 10rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.fourrightboxs{
    width: 57rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
}
.box, .box3{
    margin-left: 1.85rem;
}
/* page four end */


/* page five start */
.fivetop{
    width: 117rem;
    height: 20rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.fivetop .dotbox{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.dotbox{
    background-color: #F3602D;
}
.dotbox2{
    background-color: #149211;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.dotbox3{
    background-color: #FFC700;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.bigbox{
    width: 15.6rem;
    height: 11.5rem;
    font-size: 1.8rem;
    color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bigbox h1{
    font-size: 7rem;
}

.fivebottom .fbottomleft{
    width: 58rem;
    font-size: 1.6rem;
}
.fbottomleft h1{
    font-size: 4.5rem;
}
.inputbox{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5rem;
    justify-content: space-between  ;
}
.emailurl{
    width: 40rem;
    height: 5rem;
    border-radius: 5rem;
    /* border: 2px solid red; */
    background: #EEEEEE;
}
.url{
    width: 18rem;
    background: #EEEEEE;
    border: none;
    height: 4rem;
    border-radius: 5rem;
    padding-left: 2rem;
    margin-right: 0;
}
.email{
    background: #EEEEEE;
    border: none;
    height: 4.5rem;
    border-left: .2rem solid black;
    padding-left: 2rem;
    margin-left: 0;
    width: 19rem;
}
.fivebottom img{
    width: 79.6rem;
    height: 55.8rem;
}
.fivebottom{
    display: flex;
    flex-wrap: nowrap;
    height: 55.8rem;
    align-items: center;
}
/* page five end */